﻿@using BilleniumNotes.Models
@model LoginViewModel
@{
    ViewBag.Title = "Logowanie";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="">
        
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {<center>
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Hasło" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <div class="checkbox" >
                                @Html.CheckBoxFor(m => m.RememberMe, new { @style = "float:unset !important" })
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="submit" value="Log in" class="btn btn-success" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Utwórz konto", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                </center>
                }
</section>
        
    </div>
    <div class="col-md-4 hidden">
        <section id="socialLoginForm">
            
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}