﻿@model BilleniumNotes.Models.RegisterViewModel
@{
    ViewBag.Title = "Rejestracja";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <center>
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div >
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })
            </div>
        </div>
        <div class="form-group">
            <div >
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Hasło" })
            </div>
        </div>
        <div class="form-group">
            <div >
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Powtórz hasło" })
            </div>
        </div>
        <div class="form-group">
            <div >
                <input type="submit" class="btn btn-success" value="Register" />
            </div>
        </div>
    </center>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
