﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.navbar{ 
    background-image: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #00b9ff;
    
}
.navbar-default {
    background-color: #1b94d9;
}
.navbar-default  .navbar-nav > li > a,
.navbar-default .navbar-brand ,
.navbar-default .navbar-brand:hover{
    color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:black;
    
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    
}
td{
    overflow:hidden;
    text-overflow:ellipsis;
}
table {
    table-layout: fixed;
    max-width: 100%
}
.starIcons {
text-align: center;
}
.starIcons img{
    height:25px;
    
}

