﻿@model BilleniumNotes.Models.Note
    
@{
    ViewBag.Title = "Utwórz notatkę";
    List<BilleniumNotes.Models.Department> DepartamentListOld = new BilleniumNotes.Controllers.DepartmentsController().GetDepartments();
    IEnumerable<SelectListItem> DepartamentSelectList = DepartamentListOld.Select(x => new SelectListItem() { Text = x.Name.Trim(), Value = x.Id.ToString()});
    //IEnumerable<SelectListItem> DepartamentSelectList = DepartamentList as IEnumerable<SelectListItem>;
}

<h2>@ViewBag.Title</h2>

<center>
    @using (Html.BeginForm("Create", "Notes", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tytuł" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { size = 100, @class = "form-control", @placeholder = "Opis" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="">
                    @Html.EditorFor(model => model.Lecturer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Wykładowca" } })
                    @Html.ValidationMessageFor(model => model.Lecturer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="">
                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @placeholder = "Przedmiot" } })
                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.Department, (SelectList)ViewBag.InsigniaList, "Oddział")
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <label for="thumbnail">Załącznik</label>
                    <input type="file" id="FileUpload" name="FileUpload" accept="image/*, text/plain, .pdf, .rar, .zip" class="btn btn-default" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</center>
<div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
