﻿@model IEnumerable<BilleniumNotes.Models.Note>

@{
    ViewBag.Title = "Moje ogłoszenia";
    List<BilleniumNotes.Models.Department> DepartamentList = new BilleniumNotes.Controllers.DepartmentsController().GetDepartments();
    BilleniumNotes.Controllers.RatingController rC = new BilleniumNotes.Controllers.RatingController();
    List<int> RatingsValues = new List<int>() { 0, 1, 2, 3, 4, 5 };
    IEnumerable<SelectListItem> RatingsSelectList = RatingsValues.Select(x => new SelectListItem() { Text = x.ToString(), Value = x.ToString() });
}


<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
           Ocena
        </th>
        <th>
          Tytuł
        </th>
        <th>
           Opis
        </th>
        <th>
           Wydział
        </th>
        <th>
            Opcje
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.Average)*@
                @{
                    var Fulls = rC.FullStarsToShow(item.Id);
                    var Offset = rC.OffsetStarToShow(item.Id);
                    var Emptys = rC.EmptyStarsToShow(item.Id);
                    for (var i = 0; i < Fulls; i++)
                    {
                        <img src="@Url.Content("~/Images/star4.png")" />
                    }
                    switch (Offset)
                    {
                        case 1:
                            <img src="@Url.Content("~/Images/star1.png")" />
                            break;
                        case 2:
                            <img src="@Url.Content("~/Images/star2.png")" />
                            break;
                        case 3:
                            <img src="@Url.Content("~/Images/star3.png")" />
                            break;
                    }
                    for (var i = 0; i < Emptys; i++)
                    {
                        <img src="@Url.Content("~/Images/star0.png")" />
                    }
                }
                <br />
                <center><button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#myModal" onclick="SetModalValues(this)" data-assigned-id="@item.Id">Oceń</button></center>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <th>
                @Html.DisplayFor(modelItem => DepartamentList[Convert.ToInt32(item.Department) - 1].Name)
            </th>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Załącznik", "DownloadNote", new { id = item.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
                    }

</table>

<script>
    function SetModalValues(elem) {
        var valueId =  $(elem).attr('data-assigned-id');
        $("#setId").attr("data-assigned-id", valueId);
    }

                function AssignButtonClicked(elem) {
                    var id = $(elem).data('assigned-id');
                    var url = '@Url.Action("AddRating", "Rating", new { rate = "-------", NoteID ="tttttttt"}, null)';
                    url = url.replace("-------", $('#ParticipantList').val());
                    url = url.replace("tttttttt", id);
                    url = url.replace("&amp;", "&")

                    $.ajax({
                        url: url, // comma here instead of semicolon
                        success: function () {
                            //alert("Value Added");  // or any other indication if you want to show
                        }

                    });
                    //window.location = url;
                }

</script>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Oceń notatkę</h4>
            </div>
            <div class="modal-body">
                <center>@Html.DropDownList("ParticipantList", RatingsSelectList, new { @class = "form-control" })</center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Zamknij</button>
                <button type="button" id="setId" class="btn btn-primary" onclick="AssignButtonClicked(this)" data-assigned-id="" data-dismiss="modal">Oceń</button>
                @*<button type="button" onclick="saveChanges()" >Zaakceptuj</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
